        <div class="navbar">
          <div class="navbar-inner">
            <div class="container">
              <ul class="nav">
                <li class="active"><%= link_to 'Home', root_url %></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/project">Projects</a></li>
                <li><a href="/user">Users</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/contact">Contact Us</a></li>
              </ul>
            </div>
          </div>
        </div><!-- /.navbar -->