<h1>About Us</h1>

<p>This page is to be filled with the content, what we do, what this site is for?</p>

<p>Please fill NAMES here: keeping JOHN CAUSEY name at the top of stack, without his contribution it is extremely hard for rails noob to come into existence.</p>

<p>Please fill your ideas here::</p>

<p>DESIGNER & CONTENT WRITER are another choclate pie that we need for our recipe</p>

<p>NEED MORE INNOVATIVE IDEAS TO FILL IN OUR LANDSCAPE</p>