<h1>Project</h1>
<p>This page is going to be the page for git project collection using git api(excited about its implementation) for our group members</p>
<p>These are the garbage ideas currently I have in my mind for this page:</p>
<ul>
	<li>Display project listing - will promote user registration here using a pop up</li>
	<li>User will be weighted by thr karma points- let me know how we will proceed on this</li>
	<li>Something like stack points on stackoverflow</li>
	<li>FILL THIS PAGE WITH YOUR IDEAS</li>
</ul>	
