<h1>Contact</h1>
<p>This is going to be a place for contacting us with a contact form - dont have any fresh idea this time in my mind, but still we will implement something Cool n sexy yet elegant n NEW!!</p>
