<h1>Register</h1>
<p>Not very sure this is going to be here OR we will wrap it off from menu to somewhere else(my initial thought is to implement old twitter smooth jQuery drop down menu at the top)</p>
<p>Although sites like Stackoverflow provides another page registartion as they are using STACK own reference + google + facebook +linked in API for user registration</p>
